h2 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 30px;
  color: black;
}
.css-1x8cf1d edgvbvh5 {
  width: 60%;
}
/*for form button*/
.css-1x8cf1d {
  width: 80%;
  text-align: center;
  background-color: lightblue;
}
/* pred loan form button*/
.css-1l1ryx2 {
  display: inline-flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  font-weight: 600;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  margin: 0px;
  line-height: 1.6;
  color: inherit;
  width: 80%;
  user-select: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
/*for form button*/
.css-1x8cf1d {
  display: inline-flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  font-weight: 10;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  margin: 0px;
  line-height: 1.6;
  color: inherit;
  width: 80%;
  user-select: none;
  background-color: rgb(139, 132, 132);
  border: 1px solid rgba(49, 51, 63, 0.2);
}
div.css-1n76uvr.e1tzin5v0,
.css-aoxipv.e16nr0p34 {
  font-size: 10px;
  color: rgb(192, 155, 155);
}
/* block container*/
.block-container.css-12oz5g7.egzxvld2 {
  /* padding: 10px; */
  /*background-color: #090331;*/
}
/* side view*/
/*
.css-79elbk.e1fqkh3o10 {
  background-color: white;
}
*/
.css-5uatcg.edgvbvh5 {
  width: 100%;
  padding: 10px;
  background-color: white;
}
/*
.css-1p05t8e.epcbefy1 {
  background-color: white;
}*/
.css-1lsmgbg.egzxvld0,
.css-1rs6os.edgvbvh3 {
  visibility: hidden;
}
.css-1avcm0n.e8zbici2 {
  visibility: hidden;
}
/* app view*/
/*.css-1wrcr25.egzxvld4 {
  background-color: aquamarine;
}*/

.stApp.css-l4nlwk.eczokvf1 {
  background-color: white;
  font-size: 20px;
}
/*
.css-fg4pbf {
  position: absolute;
  background: rgb(63, 193, 128);
  background-color: rgb(105, 14, 48);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: none;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  color: rgb(49, 51, 63);
  inset: 0px;
  overflow: hidden;
}
*/

/* for matricis*/

div.css-12w0qpk.e1tzin5v2 {
  background-color: #8f9890;
  border: 2px solid;
  border-color: black;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  color: rgb(22, 21, 23);
  text-align: center;
  word-wrap: break-word;
  box-shadow: 20px;
}

div.css-1r6slb0.e1tzin5v2 {
  background-color: #0dea4f;
  border: 2px solid; /* #900c3f */
  border-radius: 10px;
  padding: 20px 20px 20px 70px;
  color: hsl(336, 64%, 46%);
}

div.css-50ug3q.e16fv1kl3 {
  font-weight: 100;
}

/*\\\\\\\\\\\\\\\\\\\\\\\*/
.css-119qato {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: 400;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  margin: 0px;
  line-height: 1.6;
  color: inherit;
  width: auto;
  user-select: none;
  background-color: rgb(73, 120, 95);
  border: 1px solid rgba(38, 39, 48, 0.2);
}

/*/////////////////////*/

/* metric styling */
div.css-rikpzh.e1tzin5v3 {
  background-color: rgba(28, 131, 225, 0.1);
  border: 1px solid rgba(28, 131, 225, 0.1);
  padding: 5% 5% 5% 10%;
  border-radius: 5px;
  color: rgb(30, 103, 119);
  overflow-wrap: break-word;
}
/* breakline for metric text		 */
div.css-1ht1j8u {
  overflow-wrap: break-word;
  white-space: break-spaces;
}

/* expander*/

div.css-1n76uvr.e1tzin5v0,
.css-aoxipv.e16nr0p34 {
  font-size: 50px;
  color: rgb(192, 155, 155);
}
/*
div.css-aoxipv p {
  word-break: break-word;
  font-size: 20px;
}
/*for expander text*/

.css-aoxipv p {
  word-break: break-word;
  font-size: 15px;
  color: black;
}
